.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(61, 13, 80) 4% , rgb(96, 77, 205) 10% , rgb(90, 91, 227) 18% , rgb(31, 173, 107) 19% , rgb(130, 150, 124) 22% , rgb(62, 92, 19) 33% , rgb(149, 86, 241) 37% , rgb(30, 241, 125) 52% , rgb(39, 101, 252) 56% , rgb(0, 0, 0) 80% , rgb(248, 236, 187) 80% , rgb(229, 63, 193) 100%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(61, 13, 80) 4% , rgb(96, 77, 205) 10% , rgb(90, 91, 227) 18% , rgb(31, 173, 107) 19% , rgb(130, 150, 124) 22% , rgb(62, 92, 19) 33% , rgb(149, 86, 241) 37% , rgb(30, 241, 125) 52% , rgb(39, 101, 252) 56% , rgb(0, 0, 0) 80% , rgb(248, 236, 187) 80% , rgb(229, 63, 193) 100%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(61, 13, 80) 4% , rgb(96, 77, 205) 10% , rgb(90, 91, 227) 18% , rgb(31, 173, 107) 19% , rgb(130, 150, 124) 22% , rgb(62, 92, 19) 33% , rgb(149, 86, 241) 37% , rgb(30, 241, 125) 52% , rgb(39, 101, 252) 56% , rgb(0, 0, 0) 80% , rgb(248, 236, 187) 80% , rgb(229, 63, 193) 100%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(61, 13, 80) 4% , rgb(96, 77, 205) 10% , rgb(90, 91, 227) 18% , rgb(31, 173, 107) 19% , rgb(130, 150, 124) 22% , rgb(62, 92, 19) 33% , rgb(149, 86, 241) 37% , rgb(30, 241, 125) 52% , rgb(39, 101, 252) 56% , rgb(0, 0, 0) 80% , rgb(248, 236, 187) 80% , rgb(229, 63, 193) 100%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(61, 13, 80) 4% , rgb(96, 77, 205) 10% , rgb(90, 91, 227) 18% , rgb(31, 173, 107) 19% , rgb(130, 150, 124) 22% , rgb(62, 92, 19) 33% , rgb(149, 86, 241) 37% , rgb(30, 241, 125) 52% , rgb(39, 101, 252) 56% , rgb(0, 0, 0) 80% , rgb(248, 236, 187) 80% , rgb(229, 63, 193) 100%);






}